{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'claude_sample', 'claude_sample_admin_group'] %}

{% block title %}{{ 'claude_sample.admin.group.list_title'|trans }}{% endblock %}
{% block sub_title %}{{ 'claude_sample.admin.title'|trans }}{% endblock %}

{% block javascript %}
<script>
    $(function () {
        $('table#group-list tbody').sortable({
            item: 'tr',
            axis: 'y',
            update: function (event, ui) {
                $.ajax({
                    type: 'PUT',
                    dataType: 'json',
                    url: '{{ url('claude_sample_admin_group_sort') }}',
                    data: {
                        groups: $(this).sortable('serialize')
                    }
                }).done((data) => {
                    console.log(data)
                }).fail((data) => {
                    alert(data.message);
                });
            }
        }).disableSelection();
    })
</script>
{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="d-block mb-3">
                    <a class="btn btn-ec-regular" href="{{ url('claude_sample_admin_group_new') }}">{{ 'admin.common.registration__new'|trans }}</a>
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <table class="table table-sm" id="group-list">
                            <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2 pl-3 text-center">
                                    {{ 'claude_sample.admin.group.id'|trans }}
                                </th>
                                <th class="border-top-0 pt-2 pb-2 pl-3">
                                    {{ 'claude_sample.admin.group.name'|trans }}
                                </th>
                                <th class="border-top-0 pt-2 pb-2 text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr id="group-{{ group.id }}">
                                    <td class="align-middle text-center pl-3">
                                        {{ group.id }}
                                    </td>
                                    <td class="align-middle pl-3">
                                        {{ group.name }}
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="row justify-content-end">
                                            <div class="col-auto text-center">
                                                <a class="btn btn-ec-actionIcon action-edit"
                                                   href="{{ url('claude_sample_admin_group_edit', { 'id' : group.id }) }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   data-original-title="{{ 'admin.common.edit'|trans }}">
                                                    <i class="fa fa-pencil fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-auto text-center">
                                                <div class="d-inline-block mr-3" data-tooltip="true" data-placement="top"
                                                     title="{{ 'admin.common.delete'|trans }}">
                                                    <a class="btn btn-ec-actionIcon action-delete"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#delete-group{{ group.id }}">
                                                        <i class="fa fa-close fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="modal fade" id="delete-group{{ group.id }}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="delete-group{{ group.id }}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title font-weight-bold">
                                                                    {{ 'claude_sample.admin.group.delete_confirm_title'|trans }}</h5>
                                                                <button class="btn-close" type="button"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true"></span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-start">
                                                                <p class="text-start">
                                                                    {{ 'claude_sample.admin.group.delete_confirm_message'|trans }}</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">{{ 'admin.common.cancel'|trans }}
                                                                </button>
                                                                <a class="btn btn-ec-delete"
                                                                   href="{{ url('claude_sample_admin_group_delete', {id: group.id}) }}"
                                                                    {{ csrf_token_for_anchor() }}
                                                                   data-method="delete" data-confirm="false">
                                                                    {{ 'admin.common.delete'|trans }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">{{ 'admin.common.no_data'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
